*.c text working-tree-encoding=UTF-8
*.h text working-tree-encoding=UTF-8
*.cpp text working-tree-encoding=UTF-8
*.hpp text working-tree-encoding=UTF-8
*.glsl text working-tree-encoding=UTF-8
*.resx text working-tree-encoding=UTF-8
